@font-face {
    @font-face{
        font-family: "RussoOne";
        src: url('../../fonts/Russo_One/RussoOne-Regular.ttf') format(truetype);
        weight: normal;
    }
}

.card {
    border: 1px solid black;
    padding: 1rem;
    margin: 0.1rem;
    border-radius: 0.1rem;
    font-family: 'RussoOne';
    font-size: 36px;
    font-weight: bold;
}

.hidden {
    background-color: cornflowerblue;
    color:darkviolet;
}

.visible {
    background-color: lavender;
    color:midnightblue;
}